<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>资源管理器 -- <%= @site.name if @site %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex, nofollow"/>
    <link href="/javascripts/ckeditor/css/fck_dialog.css" type="text/css" rel="stylesheet"/>
    <link href="/stylesheets/redmond/jquery-ui-custom.css" type="text/css" rel="stylesheet"/>
    <link href="/stylesheets/jquery.contextMenu.css" type="text/css" rel="stylesheet"/>

    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.contextMenu.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready( function() {
        init_context_menu();
      });

      function init_context_menu(){
        $("#hf div div span").contextMenu({
          menu: 'fbMenu'
        }, function(action, el, pos) {
          if(action == "delete"){
            $("#dialog_delete-confirm").dialog({
              resizable: true,
              height:150,
              modal: true,
              buttons: {
                '取消': function() {
                  $(this).dialog('close');
                },
                '删除': function() {
                  $.ajax({
                    url: "<%= delete_folder_path %>",
                    data: $.param({
                      'folder_id': $(el).attr('id')
                    }),
                    complete: function(data){
                      $(el).parent().parent().remove();
                      $("#dialog_delete-confirm").dialog('close');
                    },
                    type: 'put',
                    dataType: 'json'
                  });
                }
              }
            });
            
          }else if(action == "edit"){
            $("#dialog_rename_folder").dialog({
              resizable: true,
              height:150,
              modal: true,
              buttons: {
                '取消': function() {
                  $(this).dialog('close');
                },
                '确定': function() {
                  $.ajax({
                    url: "<%= rename_folder_path %>",
                    data: $.param({
                      'folder_id': $(el).attr('id'),
                      'new_folder_name': $("#new_folder_name").val()
                    }),
                    complete: function(data){
                      $("a", el).text(data.responseText);
                      $("#dialog_rename_folder").dialog('close');
                    },
                    type: 'put',
                    dataType: 'json'
                  });
                }
              }
            });
          }
        });
      }
    </script>
  </head>
  <body style="margin: 0px; padding: 0px;">
    <%= yield %>
    <div id="dialog_delete-confirm" title="确认要删除文件夹?" style="display:none;">
      确定删除此文件夹?
    </div>
    <div id="dialog_rename_folder" title="重命名" style="display: none;">
      <label>新目录名:</label>
      <%= text_field_tag "new_folder_name" %>
    </div>
    <ul id="fbMenu" class="contextMenu">
      <li class="edit"><a href="#edit">重命名</a></li>
      <li class="delete"><a href="#delete">删除</a></li>
    </ul>
  </body>
</html>
